body {
    background-color: #ffffff;
    color: #202020;
}

#pageBar {
    background-color: #faff00;
}

#sideBar {
    background-color: #faff00;
}

.sideOption {

}

.sideOption:hover {
    background-color: #faff00;
}

.sideSelected {
    background-color: #faff00;
}

#content {
    background-color: #0fff00;
}

.contentHeader {
    background-color: #ff00af;
}

/*Main dashboard colors*/

#dashb {

}

#nDat {
}

.numerical_data {
    background-color: #00ffec;
}

#gDat {
}

.line_graph_data {
    background-color: #00ffec;
}

/*Console and options colors*/

#liveConsole {
    background-color: black;
    caret-color: #f0f0f0;
}

#console_text {
    color: #f0f0f0;
}

#console_input {
    color: #f0f0f0;
}

/*misc*/

.img {
}

.updated {
    border-color: #1ec70d;
}

/*Webkit colors*/

::-webkit-scrollbar {
}

::-webkit-scrollbar-button {

}

::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

::-webkit-scrollbar-track {

}
