body {
    background-color: #101010;
    color: #bfbfbf;
}

#pageBar {
    background-color: #202020;
}

#consoleLatest {
    background-color: black;
    color: #f0f0f0;
}

.connected {
    border-color: #0fff00 !important;
}

.disconnected {
    border-color: #e50100 !important;
}

.connecting {
    border-color: #e5d700 !important;
}

#sideBar {
    background-color: #202020;
}

.sideOption:hover {
    background-color: #404040;
}

.sideSelected {
    background-color: #505050;
}

#content {
    background-color: #101010;
}

.contentHeader {
    background-color: #404040;
}

/*Main dashboard colors*/

#dashb {

}

#nDat {
}

.numerical_data {
    background-color: #404040;
}

#gDat {
}

.line_graph_data {
    background-color: #404040;
}

/*Console and options colors*/

#liveConsole {
    background-color: black;
    caret-color: #f0f0f0;
}

#console_text {
    color: #f0f0f0;
}

#console_input {
    color: #f0f0f0;
}

.unsent {
    color: #e50100;
}

.sent {
    color: #0fff00;
}


/*Web option colors*/
#dashOptions {
}

#options {
}

.option {
}

.optionLabel {

}

.optionInput {
    border-color: rgba(0, 0, 0, 0);
    background-color: #404040;
    color: #bfbfbf;
}

/*misc*/

.button{
    border-color: rgba(0, 0, 0, 0);
    background-color: #404040;
    color: #bfbfbf;
}

.button:hover{
    background-color: #797979;
}

.img {
    filter: invert(100%);
}

.updated {
    border-color: #1ec70d !important;
}

.slider {
    border-color: rgba(0, 0, 0, 0);
    background-color: #404040;
}

.slider::before {
    background-color: #bfbfbf;
}

input:checked + .slider {
    background-color: #757575;
}

/*Webkit colors*/

::-webkit-scrollbar {
}

::-webkit-scrollbar-button {

}

::-webkit-scrollbar-thumb {
    background-color: #555555;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

::-webkit-scrollbar-track {

}
