.input {
    padding-left: 2px;
}

.slider {
    width: 60px;
    height: 12px;
    margin-top: 2px;
}

.slider:before {
    height: 12px;
    width: 30px;
    left: 0;
    bottom: 0;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}